<h1>Create a template</h1>
<form action="/templates" method ="post">
  <label for="name">template Title:</label>
  <input type="text" name="title" placeholder="enter a title">
  <input type="text" name="tag" placeholder="enter a new tag">
  <textarea name="body" placeholder="Enter template body"></textarea>
  <input type="submit" value="Create" class="button">
</form>

<p><a href="/templates">Home</a></p>
